.list-view {
    -fx-text-fill: black;
}

.list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.list-cell:hover {
    -fx-background-color: #D0D0D0;
    -fx-text-fill: black;
}

.list-cell:selected {
    -fx-background-color: #787878;
    -fx-text-fill: white;
}